body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #101011;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

#canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}